<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bootstrap Demo via Asset Composer{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {{ renderAssetComposerStylesheets('head') }}
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    {{ renderAssetComposerJavascripts('body') }}
</body>
</html>
